<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 mt-2 mb-5">
            <div class="row">
                <div class="col-lg-4 col-12 desktop" *ngFor="let a of assistir">
                    <img class="w-100" [src]="a.img" alt="">
                    <div class="categoria mt-2">Categoria</div>
                    <div class="descricao">{{ a.description }}</div>
                </div>  
                <div class="col-12 mobile">
                    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="assistirConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let a of assistir; let idx = index" class="slide" (click)="Slide(assistir)">
                                <div class="text-left">
                                    <div>
                                        <img [src]="a.img" alt="para-assistir">
                                        <div class="categoria mt-2">Categoria</div>
                                        <div class="descricao">{{ a.description }}</div>
                                    </div>
                                </div>
                            </div>
                    </ngx-slick-carousel>    
                </div>              
            </div>
        </div>
    </div>
</div>
