<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-7 col-12 p-0 mt-5 img-contato">
                    <h1 class="mobile mt-5">Entre em contato</h1>
                    <img class="w-100 my-5" src="./assets/photos/contato.png" alt="contato-deploy">                                     
                </div>                
                <div class="col-lg-5 col-12">
                    <div class="row">
                        <div class="col-lg-9 col-12 formulario">
                            <form [formGroup]="form" (submit)="send()" style="padding: 30px 20px;border-radius: 10px;
                                box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.25);">
                                <div class="form-group">
                                    <label>
                                        <img src="./assets/icons/light_icon.svg" alt="">
                                        Tenho interesse em...
                                    </label>
                                    <select class="form-control" formControlName="subject">
                                        <option value="" disabled>Selecione uma opção</option>
                                        <option value="Aprimorar a experiência do meu produto">
                                            Aprimorar a experiência do meu produto
                                        </option>
                                        <option value="Criar um produto do zero">
                                            Criar um produto do zero
                                        </option>
                                        <option value="Tenho uma startup, vamos ser sócios?">
                                            Tenho uma startup, vamos ser sócios?
                                        </option>
                                        <option value="Trabalhar com vocês">
                                            Trabalhar com vocês
                                        </option>
                                        <option value="Só achei o site legal mesmo, bora tomar um café?">
                                            Só achei o site legal mesmo, bora tomar um café?
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <img src="./assets/icons/user_icon.svg" alt="">
                                        Meu nome é
                                    </label>
                                    <input type="text" class="form-control"  placeholder="Seu nome" formControlName="name" required>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <img src="./assets/icons/company_icon.svg" alt="">
                                        Trabalho ne empresa
                                    </label>
                                    <input type="text" class="form-control" placeholder="Onde você trabalha" formControlName="company" required>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <img src="./assets/icons/email_icon.svg" alt="">
                                        Meu email é
                                    </label>
                                    <input type="email" class="form-control" placeholder="Seu email" formControlName="email" required>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <img src="./assets/icons/purple_smartphone_icon.svg" alt="">                                        
                                        Meu número é
                                    </label>
                                    <input type="text" class="form-control" placeholder="Seu n° de telefone" formControlName="tel" required>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <img src="./assets/icons/chat_icon.svg" alt="">                                        
                                        Pode falar
                                    </label>
                                    <textarea cols="30" rows="1" class="form-control" placeholder="Digite a sua mensagem..."
                                        formControlName="msg" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-deploy w-100" [disabled]="form.invalid">Agendar uma Videochamada</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 mt-5 contato">
                    <h1 class="desktop">Entre em contato</h1>
                    <div class="col-lg-8 col-12 txt-contato p-0">
                        <div class="row my-3">
                            <div class="col-lg-1 col-12">
                                <img src="./assets/icons/purple_whatsappicon.svg" alt="whatsapp">
                            </div>
                            <div class="col-lg-10 col-12"> 
                                +55 (11) 0000-0000
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-12">
                                <img src="./assets/icons/email_icon.svg" alt="email">
                            </div>
                            <div class="col-lg-10 col-12"> 
                                talk@deploy.com
                            </div>
                        </div>                        
                        <div class="row my-3">
                            <div class="col-lg-1 col-12">
                                <img class="mt-2" src="./assets/icons/placeholder_icon.svg" alt="email">
                            </div>
                            <div class="col-lg-10 col-12 endereco"> 
                                Rua Iguatemi, 239 - CJ 13 | Itaim Bibi
                                São Paulo - SP | Brasil
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
