@import "helpers";
@import "variables";
@import "components";

.contato {
    @include media-breakpoint-up(lg) {
        position: absolute;
        z-index: 1;
        top: 300px;
        padding: 0 0 0 100px;
    }    
    
}
.img-contato{
    @include media-breakpoint-down(md) {
        text-align: center;
    }
}
.txt-contato{
    color: $color-9;
    font-size: 1.2em;
    @include media-breakpoint-down(md) {
        text-align: center;
    }
}
.endereco {
    @include media-breakpoint-down(md) {
        padding: 0 55px;
    }
    @media only screen and (min-width: 350px)  and (max-width: 365px){
        padding: 0 47px;
    }
}
.formulario {
    @include media-breakpoint-up(lg) {
        padding: 90px 0 50px 0;
    } 
    label {
        font-size: 0.8em;
    }
    input, textarea, select {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;       
    }
    .form-control {
        border: none;
        height: auto;
    }
    .form-group{
        margin: 0;
    }
}