<div class="container-fluid menu">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3 col-9 logo">
                    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/home' (click)="helper.scroll()">
                        <img src="./assets/logos/logo-deploy.svg" alt="deploy_logo">
                    </a>
                </div>
                <!--ICONE MENU MOBILE-->
                <div class="col-2 mobile bg-purple icon-menu" (click)="abrirMenu()">
                    <img id="iconMenu" class="w-100 my-3"  src="./assets/icons/menu_icon.svg" alt="">
                </div>
                <!--MENU DESKTOP-->
                <div class="col-lg-6 desktop">
                   <nav>
                       <ul>
                           <a href="javascript:void(0)" routerLinkActive='active' routerLink='/nos' (click)="helper.scroll()"> <li>Nós</li> </a>
                           <a (click)="dropSolucoes()">
                               <li id="solucoes">
                                   Soluções
                                   <img id="solucoes-img" src="./assets/icons/dropdown.svg" alt="soluções">
                                </li>
                            </a>
                           <a (click)="dropProdutos()">
                               <li id="produtos">
                                   Produtos
                                   <img id="produtos-img" src="./assets/icons/dropdown.svg" alt="produtos">
                                </li>
                            </a>
                           <a href="javascript:void(0)" routerLinkActive='active' routerLink='/trabalhos' (click)="helper.scroll()"> <li>Trabalhos</li> </a>
                           <a (click)="dropConteudos()">
                               <li id="conteudos">
                                   Conteúdos
                                   <img id="conteudos-img" src="./assets/icons/dropdown.svg" alt="conteudos">
                                </li>
                            </a>
                           <a class="pt text-uppercase ml-3">pt</a>
                           <a class="pt text-uppercase ml-2">en</a>
                       </ul>
                   </nav>
                </div>
                <div class="col-lg-3 desktop" href="javascript:void(0)" routerLinkActive='active' routerLink='/contato' (click)="helper.scroll()">
                    <div class="fale w-75">
                        <img src="./assets/icons/hand_icon.svg" alt="fala-com-a-gente">
                        <a class="ml-1">Fala com a gente!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--DROPDOWN SOLUÇOES-->
<div class="container-fluid desktop" *ngIf="solucoes">
    <div class="row">
        <div class="col-lg-3 col-10 dropdown solucoes" style="background-image: url('./assets/backgrounds/bg-solucoes2.png');">
            <!-- <img class="w-100" src="./assets/backgrounds/bg-solucoes2.png" alt="" style="position: absolute;">  -->
            <div class="row">
                <div class="col-lg-9 opc mt-2" 
                href="javascript:void(0)" routerLinkActive='active' routerLink='/mlp' (click)="dropSolucoes()" (click)="helper.scroll()">
                    <div class="row">
                        <div class="col-lg-1 mt-2">
                            <img src="./assets/icons/heart_icon.svg" alt="mlp">
                        </div>
                        <div class="col-lg-10 mt-2">
                            <a class="bold">MLP</a> 
                        </div>
                        <div class="col-lg-11">
                            <div class="txt-drop">
                                Criamos seu produto digital do zero e recriamos experiências de um produto já criado.
                            </div>
                        </div>                    
                    </div>                    
                </div>
                <div class="col-9 opc" 
                href="javascript:void(0)" routerLinkActive='active' routerLink='/always-on' (click)="dropSolucoes()" (click)="helper.scroll()">
                    <div class="row">
                        <div class="col-lg-1">
                            <img  src="./assets/icons/off_icon.svg" alt="always-on">
                        </div>
                        <div class="col-lg-10">
                            <a class="bold">Always Beta</a> 
                        </div>
                        <div class="col-11">
                            <div class="txt-drop">
                                Seu time de UX e UI trabalhando
                                em constantes melhorias e
                                aprimoramentos do seu produto
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DROPDOWN PRODUTOS-->
<div class="container-fluid" *ngIf="produtos">
    <div class="row">
        <div class="col-lg-3 col-12 dropdown produtos" style="background-image: url('./assets/backgrounds/bg-dive.png');">
            <div class="row">
                <div class="col-9 opc mt-3 ml-5" (click)="dropProdutos()">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/icons/dive_icon.svg" alt="dive">
                        </div>
                        <div class="col-10">
                            <a class="bold">Dive</a> (coming soon)
                        </div>
                        <div class="col-11">
                            <div class="txt-drop">
                                O assistente que propõe melhorias
                                na experiência do seu site.
                            </div>
                        </div>                    
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--DROPDOWN CONTEUDOS-->
<div class="container-fluid" *ngIf="conteudos">
    <div class="row">
        <div class="col-lg-2 col-12 dropdown conteudos" style="background-image: url('./assets/backgrounds/bg-conteudo.png');">
            <div class="row">
                <div class="col-lg-8 opc v1 mt-4" 
                href="javascript:void(0)" routerLinkActive='active' routerLink='/dive' (click)="dropConteudos()">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="./assets/icons/purple_play_icon.svg" alt="youtube"> 
                        </div>
                        <div class="col-lg-9 ml-2">
                            <div class="content">Youtube</div>
                            Para Assistir
                        </div>
                    </div>                 
                </div>
                <div class="col-lg-8 opc v1" href="javascript:void(0)" routerLinkActive='active' routerLink='/dive' (click)="dropConteudos()">
                    <div class="row">
                        <div class="col-lg-2"> 
                            <img src="./assets/icons/podcast_icon.svg" alt="spotify-podcast"> 
                        </div>
                        <div class="col-lg-8 ml-2">
                            <div class="content">Spotify</div>
                            Para Ouvir
                        </div>
                    </div>                 
                </div>
                <div class="col-lg-8 opc v1" href="javascript:void(0)" routerLinkActive='active' routerLink='/dive' (click)="dropConteudos()">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="./assets/icons/purple_read_icon.svg" alt="medium-blog"> 
                        </div>
                        <div class="col-lg-8 ml-2">
                            <div class="content">Medium</div>
                            Para Ler
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>

<!--MENU MOBILE-->
<div class="container-fluid" *ngIf="menu">
    <div class="col-12 mm p-0 ">
        <div class="row">
            <div class="col-10 mobile menu-mob pink-mm">
                <img (click)="abrirMenu()" class="fechar-mob" src="./assets/icons/x_icon.svg" alt="fechar">
                <nav>
                    <ul>
                        <a href="javascript:void(0)"routerLinkActive='active' routerLink='/nos' (click)="abrirMenu()" (click)="helper.scroll()">
                             <li>Nós</li> 
                        </a>
                        <div id="solu">
                            <a> 
                                <li id="icon-solu" (click)="dropSolu()">
                                    Soluções
                                    <img id="iconS" src="./assets/icons/white_dropdown_down.svg" alt="">
                                </li>
                            </a>
                            <div class="col-11" *ngIf="solu">
                                <div class="row">
                                    <div class="col-12 my-3" routerLinkActive='active' routerLink='/mlp' (click)="abrirMenu()" (click)="helper.scroll()" (click)="dropSolu()">
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="./assets/icons/heart_icon.svg" alt="mlp">
                                            </div>
                                            <div class="col-10">
                                                <a class="bold">MLP</a> 
                                            </div>
                                            <div class="col-12 txt-drop-menu">
                                                Criamos seu produto digital do zero
                                                e recriamos experiências de um
                                                produto já criado.
                                            </div>                    
                                        </div>                    
                                    </div>
                                    <div class="col-12 my-3  drop" routerLinkActive='active' routerLink='/always-on' (click)="abrirMenu()" (click)="helper.scroll()" (click)="dropSolu()">
                                        <div class="row">
                                            <div class="col-1">
                                                <img  src="./assets/icons/off_icon.svg" alt="always-on">
                                            </div>
                                            <div class="col-10">
                                                <a class="bold">Always On</a> 
                                            </div>
                                            <div class="col-12  txt-drop-menu">
                                                Seu time de UX e UI trabalhando
                                                em constantes melhorias e
                                                aprimoramentos do seu produto
                                            </div>                  
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="./assets/icons/dive_icon.svg" alt="dive">
                                            </div>
                                            <div class="col-10">
                                                <a class="bold">Dive</a> <a> (coming soon)</a>                                                                                                           
                                            </div>
                                            <div class="col-12 txt-drop-menu">
                                                O assistente que propõe melhorias
                                                na experiência do seu site.
                                            </div>                    
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/trabalhos' (click)="abrirMenu()" (click)="helper.scroll()"> <li>Trabalhos</li> </a>
                        <div id="content">
                            <a>
                                <li id="icon-cont" (click)="dropCont()">
                                    Conteúdos
                                    <img id="iconC" src="./assets/icons/white_dropdown_down.svg" alt="">
                                </li>
                            </a>
                            <div class="col-12"  *ngIf="cont">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-2 mt-3">
                                                <img src="./assets/icons/white_play_icon.svg" alt="youtube"> 
                                            </div>
                                            <div class="col-8 p-0">
                                                <a class="content">Youtube</a><br/>
                                                <a>Para Assistir</a>
                                            </div>
                                        </div>                 
                                    </div>
                                    <div class="col-lg-12 my-3 dropC">
                                        <div class="row">
                                            <div class="col-2 mt-3"> 
                                                <img src="./assets/icons/white_podcast_icon.svg" alt="spotify-podcast"> 
                                            </div>
                                            <div class="col-8 p-0">
                                                <a class="content">Spotify</a><br/>
                                                <a>Para Ouvir</a>
                                            </div>
                                        </div>                 
                                    </div>
                                    <div class="col-lg-12 mb-3">
                                        <div class="row">
                                            <div class="col-2 mt-3">
                                                <img src="./assets/icons/white_read_icon.svg" alt="medium-blog"> 
                                            </div>
                                            <div class="col-8 p-0 ml-1">
                                                <a class="content">Medium</a><br/>
                                                <a>Para Ler</a>
                                            </div>
                                        </div>                 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/contato']" (click)="abrirMenu()" (click)="helper.scroll()"> <li id="conteudos">Contato</li> </a>
                        <a [routerLink]="['/trabalhe-conosco']" (click)="abrirMenu()" (click)="helper.scroll()"> <li id="produtos">Trabalhe com a gente</li> </a>
                    </ul>
                </nav>
                <div class="row">
                    <div class="col-10 mx-auto">
                        <div class="row">
                            <div class="col-3 mt-3" (click)="dropSolu()">
                                <img src="./assets/icons/instagram_icon.svg" alt="instagram">
                            </div>
                            <div class="col-3 mt-3" (click)="dropSolu()">
                                <img src="./assets/icons/dribbble_icon.svg" alt="blog">
                            </div>
                            <div class="col-3 mt-3" (click)="dropSolu()">
                                <img src="./assets/icons/facebook_icon.svg" alt="facebook">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>