@import "helpers";
@import "variables";
@import "components";

.menu {
    background-color: $color-8;
    position: fixed;
    z-index: 3;
    @include media-breakpoint-up(lg) {
        padding: 10px 0;
    }
}
.logo {
    @include media-breakpoint-down(md) {
        text-align: left;
        padding: 0 20px 5px 20px;
    }
    @include media-breakpoint-up(md) {
        text-align: center;
    }
    @include media-breakpoint-up(lg) {
        text-align: center;
    } 
}
.icon-menu{
    @include media-breakpoint-down(md) {
        position: absolute;
        right: 0;
    }
}
nav{
    ul {
        padding: 15px 0 0 0;
    }
    li {
        display: inline;
        list-style: none;
        padding: 0 15px;
        cursor: pointer;
        font-family: 'ProximaNova-Regular';

        @include media-breakpoint-down(md) {
            display: list-item;
            padding: 20px;
            font-size: 24px;
        }
    }
    a {
        color: $color-7;
        &:hover {
            color: $color-5;
        }
        @include media-breakpoint-down(md) {
            color: $color-8;
        }
    }    
}
.pt {
    border: 2px solid $color-5 !important;
    border-radius: 8px;
    padding: 5px;
    font-size: 0.8em;
    color: $color-5 !important;
}

.dropdown {    
    position: fixed;
    z-index: 2;
    margin: 60px 0 40px 300px;
    // padding: 60px 0 10px 60px;
    padding: 20px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    .txt-drop {
        font-size: 0.9em;
        color: $color-9;
        padding: 0 0 0 30px;
        font-family: 'ProximaNova-Regular';
    }
    &.solucoes{
        left: 95px;
        @media only screen and (min-width: 1440px) and (max-width: 1580px) {
            left: 120px;
        }
        @media only screen and (min-width: 1600px) {
            left: 160px;
        }
        @media only screen and (min-width: 1900px) {
            left: 230px;
        }
    }
    &.produtos {
        left: 210px;
        @media only screen and (min-width: 1440px) and (max-width: 1580px) {
            left: 240px;
        }
        @media only screen and (min-width: 1600px) {
            left: 270px;
        }
        @media only screen and (min-width: 1900px) {
            left: 300px;
        }
    }
    &.conteudos {
        right: 300px;
        margin: 60px 100px 40px 300px;
        @media only screen and (min-width: 1250px) and (max-width: 1344px) {
            margin: 60px 90px 40px 300px;
        }
        @media only screen and (min-width: 1440px) and (max-width: 1580px) {
            margin: 60px 150px 40px 300px;
        }
        @media only screen and (min-width: 1600px) {
            margin: 60px 250px 40px 0;
        }
        @media only screen and (min-width: 1900px) {
            margin: 60px 300px 40px 0;
        }
    }
}
.opc {
    cursor: pointer;
    outline: 0px;
    padding: 10px 10px 0 5px;
    // padding: 20px 20px 0 20px;
    margin: 0 0 0 45px;
    &:hover{
        background-color: #F9F4FD;
    }
    &.v1{
        padding: 15px 10px;
        margin: 0 0 0 43px;
    }
}
.content{
    font-size: 0.6em;
    color: $color-5;
}
.menu-mob {
    height: 100vh;
    padding: 100px 0 0 0;
    position: fixed;
    right: 0;
    z-index: 4;
    background-color: $color-5;
    @media only screen and (min-width: 350px)  and (max-width: 365px) {
        padding: 80px 0 0 0;
    }
    @media only screen and (min-width: 320px)  and (max-width: 350px){
        padding: 30px 0 0 0;
    }
}
.mm::after {
    content: '';
    position: fixed;
    top: 0;
    left: -20px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    opacity: 0.7;
    background-color: $color-5;
}
.mm::before {
    content: '';
    position: fixed;
    top: 0;
    left: 53px;
    width: 50px;
    height: 100vh;
    z-index: 4;
    background-color: $color-6;
    @media only screen and (min-width: 720px)  and (max-width: 991px){
        left: 110px;
    }
}
.pink-mm::before {
    content: '';
    position: fixed;
    top: 95px;
    left: 53px;
    width: 10px;
    height: 12vh;
    z-index: 4;
    background-color: $color-3;
    @media only screen and (min-width: 411px)  and (max-width: 415px){
        width: 15px;
    }
    @media only screen and (min-width: 720px)  and (max-width: 991px){
        left: 110px;
        width: 15px;
    }
}
.fechar-mob {
    @include media-breakpoint-down(md) {
        position: absolute;
        right: 18px;
        top: 15px;
    }
}
.txt-drop-menu {
    @include media-breakpoint-down(md) {
        padding: 10px 25px 10px 45px;
        color: $color-8;
        opacity: 0.7;
    }
}
#iconS {
    padding: 0 0 0 140px;
    @media only screen and (min-width: 320px)  and (max-width: 350px){
        padding: 0 0 0 110px;
    }
}
#iconC {
    padding: 0 0 0 120px;
    @media only screen and (min-width: 320px)  and (max-width: 350px){
        padding: 0 0 0 90px;
    }
}
.drop::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 10px;
    width: 100%;
    height: 1px;
    z-index: 5;
    opacity: 0.7;
    background-color: $color-8;
}
.drop::before {
    content: '';
    position: absolute;
    top: 150px;
    left: 10px;
    width: 100%;
    height: 1px;
    z-index: 5;
    opacity: 0.7;
    background-color: $color-8;
    @media only screen and (min-width: 411px)  and (max-width: 415px){
        top: 130px;
    }
}
.dropC::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 1px;
    z-index: 5;
    opacity: 0.7;
    background-color: $color-8;
}
.dropC::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    height: 1px;
    z-index: 5;
    opacity: 0.7;
    background-color: $color-8;
}
.fale {    
    background-color: $color-5;
    position: absolute;
    top: -10px;
    right: 0;
    padding: 14px 30px;
    cursor: pointer;
    outline: 0px;
    a {
        color: $color-8;
        font-family: 'ProximaNova-Bold';
    }
    @-webkit-keyframes swing {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        } 
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes swing
    {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    &:hover {
        background-color: $color-6;
        img{
            -webkit-animation: swing 1s ease;
            animation: swing 1s ease;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
        
    }
}