@import "helpers";
@import "variables";
@import "components";

.always {
    font-size: 22px;

    @include media-breakpoint-up(lg) {
        padding: 150px;
    }
}

.txt-always {
    font-size: 20px;
}

.txt-ciclo {
    @include media-breakpoint-up(lg) {
        padding: 250px 45px;
    }

    @include media-breakpoint-down(md) {
        text-align: center;
        padding: 50px 40px;
    }

    @media only screen and (min-width: 320px) and (max-width: 365px) {
        padding: 50px 32px;
    }
}



.wheel-control {
    overflow: hidden;
    height: 900px;
    display: grid;
    justify-content: center;
}

.wheel-container {
    border-radius: 50%;
    box-shadow: 0px 7px 28px -8px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative;
    
    height: 800px;
    width: 800px;
    @include media-breakpoint-down(md) {
        // transform: translate(-26%, 0);
    }

    .action {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 10;
        &.action-up {
            top: 0;
        }
        &.action-down {
            bottom: 0;
        }
    }
    .wheel {
        position: absolute;
        top: 21%;
        left: 20%;
        background-repeat: no-repeat;
        width: 66%;
        height: 66%;
        background-size: contain;
        z-index: 1;
        transform: rotateZ(0) translate(0, 0);
        transition: 1s  all;
        pointer-events: none;
        // &:nth-of-type(1) {
        //     top: -31px;
        //     left: 120px;
        // }

        // &:nth-of-type(2) {
        //     top: 77px;
        //     left: -88px;
        // }
       
    }
    .icon-wheel {
        position: absolute;
        width: 30%;
        height: 30%;
        right: 33%;
        bottom: 0;
        transform: rotateZ(0) translate(0, 0);
        transition: 2s all;
        z-index: 4;
    }

    .info-wheel {
        position: absolute;
        z-index:10;
        right: 35%;
        top: 8%;
        width: auto;
        opacity: 0;
        transition: 1s all;
        h3 {
            color: $color-2;
            font-weight: bold;
        }

    }


    .icon-arrows {
        position: absolute;
        z-index: 1;
        top: 41%;
        left: 43%;
    }
    &.ready {
        .icon-wheel {
            bottom: 36%;
        }
        .info-wheel {
            opacity: 1;
            transition: 1s all;
        }
    
    }
}