<div class="container-fluid">
    <div class="row">
        <div class="col-12 bgdark">
            <div class="row">
                <div class="col-10 mx-auto capa">
                    <div class="row">
                        <div class="col-lg-5 col-12 order-lg-first capa-mlp">
                            <div class="row">
                                <div class="col-lg-2 col-3 mlp-logo">
                                    <img class="w-75" src="./assets/icons/off_icon.svg" alt="always-on_deploy">
                                </div>
                            </div>
                            <div>
                                <a class="my-4 txt-mlp">Always Beta</a>
                            </div>
                            <div class="txt-always mt-4">
                                Uma consultoria de UX dedicada para o seu negócio.
                            </div>
                            <div class="txt-always">
                                Não há nada tão bom que não possa ser melhorado.
                            </div>
                            <div class="col-12 p-0">
                                <p class="txt-blue text-uppercase bold mt-5 mb-4 quem">Para quem é o always beta?</p>
                                <div class="row">
                                    <div class="col-lg-3 col-3">
                                        <div class="row">
                                            <div class="col-lg-10 col-12 p-0 order-lg-first text-center">
                                                <img src="./assets/icons/blue_startup_icon.svg" alt="startups">
                                            </div>
                                            <div class="col-12">
                                                Startups
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-4 p-0 order-lg-second text-center">
                                        <div class="row">
                                            <div class="col-12 p-0 ">
                                                <img src="./assets/icons/blue_shopping-cart_icon.svg" alt="E-commerces">
                                            </div>
                                            <div class="col-12">
                                                E-commerces
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-5 p-0 order-second  text-center">
                                        <!-- <div class="row"> -->
                                        <div class="col-12 p-0">
                                            <img src="./assets/icons/blue_smartphone_icon.svg" alt="produtos-digitais">
                                        </div>
                                        <div class="col-12">
                                            Produtos Digitais
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 order-first mx-auto">
                            <img class="w-100" src="./assets/photos/capa-always.png" alt="mlp-deploy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 p-0 text-center mt-5">
                    <img class="w-75 mt-5" src="./assets/photos/ux.png" alt="">
                </div>
                <div class="col-lg-6 col-10 mx-auto p-0">
                    <div class="always">
                        Talvez você se pergunte...
                        <h2>Por que eu deveria ter uma equipe de UX?</h2>
                        <p>
                            Resultados sólidos só vem através de vários ciclos de constante aprendizado e
                            aprimoramentos.
                        </p>
                        <p>
                            Nós combinamos UX, CRO, Growth Hacking e Neuromarketing em um plano de assinatura mensal,
                            onde nosso único objetivo é atingir os seus.
                        </p>
                        <h5 class="txt-blue bold">
                            Decisões guiadas por dados resultam em clientes felizes e satisfeitos.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-gray">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="row">
                        <div class="col-lg-4 txt-ciclo ">
                            <h2 class="ml-lg-5 pl-lg-5">
                                <a class="bold">Como</a> fazemos é tão importante quanto <a class="bold">o que</a>
                            </h2>
                        </div>
                        <div class="col-lg-8 mx-auto bg-default ">
                            <!-- <img class="w-100" src="" alt="always-on-deploy"> -->
                            <div class="wheel-control">

                                <div class="wheel-container mx-auto mt-4" [class.ready]="ready" 
                                >
                                     <div class="action-up action" (swipeRight)="rotateRight($event )"
                                     (swipeLeft)="rotateLeft($event )"></div>
                                     <div class="action-down action" (swipeRight)="rotateLeft($event )"
                                     (swipeLeft)="rotateRight($event )"></div>
                                    <img src="./assets/always_beta/svg/reuse.svg" class="icon-arrows">
                                    <div class="wheel" *ngFor="let wheel of  items; let idx = index"
                                        [style.background-image]="'url(./assets/always_beta/png/image1.png)'"
                                        [ngStyle]="{transform: ready? wheel.transform: ''}">
                                        <div class="info-wheel" [ngStyle]="{
                                            transform: ready? wheel.adjust_transform + wheel.text_adjust.transform: '',
                                            width: ready? wheel.text_adjust.width: 'auto'
                                        }">
                                            <h3>{{ wheel.name }}</h3>
                                            <p>
                                                {{ wheel.description }}
                                            </p>
                                        </div>
                                        <img [src]="wheel.icon" alt=""  [ngStyle]="{transform: ready? wheel.adjust_transform: ''}" class="icon-wheel">
                                    </div>

                                    <!-- <div  class="wheel" [style.background-image]="'url(./assets/always_beta/png/image1.png)'">

                                    </div>
                                    <div  class="wheel" [style.background-image]="'url(./assets/always_beta/png/image1.png)'">

                                    </div>
                                    <div  class="wheel" [style.background-image]="'url(./assets/always_beta/png/image1.png)'">

                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>