<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-10 col-11 mx-auto mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-first txt-trabalhe">
                            <h1>Vamos trabalhar juntos?</h1>
                            <div class="mb-5">
                                Tanto <a class="bold txt-purple">empresas</a> quanto
                                <a class="bold txt-purple">profissionais</a>
                                são muito bem vindos na Deploy,
                                seja para parcerias duradouras,
                                projetos específicos ou propostas
                                de sociedade.
                            </div>
                            <div class="col-12 btn-deploy w-100 mt-5"  [routerLink]="['/contato']">Vamos nos conhecer!</div>
                        </div>
                        <div class="col-lg-8 col-12 order-first img-trabalho">
                            <img class="w-100" src="./assets/photos/work.png" alt="trabalhe-conosco">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>