@import "helpers";
@import "variables";
@import "components";

.txt-trabalhe{
    @include media-breakpoint-down(md) {
        padding: 50px 20px;
    }
    @include media-breakpoint-up(md) {
        padding: 50px 20px;
    }
    @include media-breakpoint-up(lg) {
        padding: 150px 100px 100px 0;
    }
    @media only screen and (min-width: 991px)  and (max-width: 1024px) {
        padding: 100px 0;
    }
    @media only screen and (min-width: 1250px) and (max-width: 1344px) {
        padding: 100px 80px 100px 0;
    }
    @media only screen and (min-width: 19200px) {
        padding: 300px 80px 250px 0;
    }
    a {
        color: $color-5;
    }
}
.img-trabalho {
    @media only screen and (min-width: 991px)  and (max-width: 1024px) {
        padding: 70px 0;
    }
}