.bg-default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-purple {
  background-color: $color-5;
  color: $color-8;
}
.bgdark {
  background-color: $color-11;
  color: $color-8;
}

.bgdark-1 {
  background-color:#3D1B57;
  color: $color-8;
}
.bg-gray {
  background-color: $color-4;
}
.txt-purple {
  color: $color-5;
}
.txt-blue {
  color: $color-2;
}
.txt-pink {
  color: $color-3;
}
.txt-white {
  color: $color-8;
}
.btn-deploy { /*Ajsutar as cores*/
  font-family: 'ProximaNova-Bold';
  color: $color-8;
  background-color: $color-5;
  border-radius: 8px;
  padding: 15px 40px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $color-6;
  }
}
a {
  text-decoration: none;
  outline: 0px;
  cursor: pointer;
}
h1 {
  @include media-breakpoint-down(md) {
    font-size: 1.5em;
  }
}
.desktop {
  @include media-breakpoint-down(md) {
      display: none;
  }
  @include media-breakpoint-up(md) {
      display: none;
  }
  @include media-breakpoint-up(lg) {
      display: block;
  }
}
.mobile {
  @include media-breakpoint-down(md) {
      display: block;
  }
  @include media-breakpoint-up(md) {
      display: block;
  }
  @include media-breakpoint-up(lg) {
      display: none;
  }
}
.workshop {
  // background-image: url(../../../assets/backgrounds/workshop.png);
  border-radius: 8px;
  padding: 50px 80px;
  text-align: left;
  color: $color-8;
  @include media-breakpoint-down(md) {
    padding: 40px 30px;
    text-align: center;
  }
}

p { color: $color-10; }

.titulo{
  a { color: $color-5; }
}

.capa-home {
  font-size: 22px;
  @include media-breakpoint-down(md) {
      padding: 50px 20px 0 20px;
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
      padding: 180px 0 0 0;
  }
}
.txt-capa {
  @include media-breakpoint-up(lg) {
    padding: 0 130px 0 0;
  }
}

.categoria{
  color: $color-5;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
}
.descricao {
  font-size: 23px;
  padding: 0 10px 0 0;
}
.capa {
  padding: 160px 0 20px 0;
  @include media-breakpoint-down(md) {
      padding: 100px 0 20px 0;

  }
}
.txt-capa{
  font-size: 27px;
}
.capa-mlp{
  padding: 65px 0;
  .txt-mlp {
      font-size: 2em;
  }
  .mlp-descricao {
      color: $color-9;
      font-size: 1.5em;
  }
  @include media-breakpoint-down(md) {
      padding: 30px 0;
      text-align: center;
  }
}
.mlp-logo{
  @include media-breakpoint-down(md) {
      margin: 0 130px;
  }
}
.quem{
  letter-spacing: 3px;

  &::after{
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      width: 80%;
      height: 2px;
      opacity: 60%;
      z-index: 1;
      background-color: $color-9;
  }
  @include media-breakpoint-down(md) {
      text-align: center;
      &::after{
          content: '';
          width: 100%;
      }
  }
}
