<div class="container-fluid">
    <div class="row">
        <div class="col-12 bgdark-1">
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-6 col-12 capa order-lg-first">
                            <h1 class="titulo">Deploy</h1>
                            <p class="txt-agencia">
                                Somos uma agência renomada de user experience
                                design, que busca a maestria através de blablablabla
                            </p>
                            <div class="txt-capa">
                                Um time de pessoas loucas o suficiente
                                para acreditar que podem mudar o mundo,
                                ajudando pessoas e negócios através
                                do design centrado no ser humano.
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 order-first logo">
                            <video width="100%" height="auto" autoplay loop>
                                <source src="./assets/backgrounds/deploy.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 founders">
            <div class="row">
                <div class="col-lg-3 mx-auto">
                    <img class="w-100" src="./assets/photos/founder.png" alt="gustavo-marion">
                    <div class="txt-purple name">Gustavo Marion</div>
                    <div class="text-uppercase">ceo e co-founder</div>
                </div>
                <div class="col-lg-3 mx-auto">
                    <img class="w-100" src="./assets/photos/founder.png" alt="nicholas-frança">
                    <div class="txt-purple name">Nicholas França</div>
                    <div class="text-uppercase">cdo e co-founder</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-12 col-11 mx-auto text-center mt-5 diferenciais">
                    <h2>Diferenciais Deploy</h2>
                    <div class="col-lg-3 col-10 mx-auto txt-diferencial">
                        <p> Não são só seus usuários que terão uma experiência incrível </p>
                    </div>
                    <img id="curva" class="w-100" src="./assets/photos/curva.png" alt="">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="diferenciaisConfig" (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let d of diferenciais; let idx = index" (click)="Slide(diferenciais)">
                        <div></div>
                    </div>
                    </ngx-slick-carousel>
                    <div class="white-wave">
                        <div class="col-lg-5 col-11 mx-auto indicadores">
                            <div class="row">
                                <div class="col-1 mx-auto p-0" *ngFor="let d of diferenciais; let idx = index">
                                    <div class="nos" [ngStyle]="{ 'margin-top': d.margin}" [ngClass]="{active: activeDiferenciais.id == d.id}" (click)="Slide(d)">
                                        <span>{{ d.id }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 slick-conteudo">
                            <div class="row">
                                <div class="col-lg-3 col-1 mx-auto text-right p-0 mt-5 arrow">
                                    <a (click)="slickModal.slickPrev()">
                                        <img class="mt-5" src="./assets/icons/elipse_arrow_right.svg" alt="arrow_left">
                                    </a>
                                </div>
                                <div class="col-lg-5 col-10 mx-auto">
                                    <img [src]="activeDiferenciais.image" alt="{{ activeDiferenciais.alt }}">
                                </div>
                                <div class="col-lg-3 col-1 mx-auto text-left p-0 mt-5 arrow">
                                    <a (click)="slickModal.slickNext()">
                                        <img class="mt-5" src="./assets/icons/elipse_arrow_left.svg" alt="arrow_right">
                                    </a>
                                </div>
                                <div class="col-12">
                                    <h2 class="text-center txt-purple">{{ activeDiferenciais.title }}</h2>
                                    <h2 class="text-center txt-purple">{{ activeDiferenciais.cont }}</h2>
                                    <div class="col-lg-4 mx-auto text-center">
                                        <p>{{ activeDiferenciais.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
