@import "helpers";
@import "variables";
@import "components";


.txt-agencia {
    text-decoration: line-through;
}
.capa {
    padding: 200px 0;
    font-size: 22px;
    @include media-breakpoint-down(md) {
        padding: 20px 0 130px 0;
        font-size: 19px;
    } 
    @media only screen and (min-width: 350px)  and (max-width: 365px){
        padding: 40px 0;
    } 
}
.titulo {
    font-size: 3em;
}
.logo {
    @include media-breakpoint-up(lg) {
        padding: 180px 0 0 0;
        height: 140vh;
    }    
    @include media-breakpoint-down(md) {
        padding: 80px 0 0 0;
    } 
    @media only screen and (min-width: 991px)  and (max-width: 1024px) {
        height: 65vh;
    }
    @media only screen and (min-width: 350px)  and (max-width: 365px){
        padding: 40px 0 10px 0;
    }
}
.founders {
    @include media-breakpoint-up(lg) {
        margin: -220px 0;
        position: absolute;
        z-index: 1;
    }
    @include media-breakpoint-down(md) {
        padding: 30px;
    } 
    .name {
        font-size: 25px;
    }   
}
.nos {
    padding: 10px;
    cursor: pointer;   
    border-radius: 100%;
    width: 46px;
    color: $color-10;
    border: 1px solid $color-10;
    background-color: $color-8;
    @include media-breakpoint-down(md) {
        padding: 15px 0;
        width: 50px;
        height: 50px;
    }    
    &:hover, &.active {
        color: $color-8;
        background-color: $color-5;
        border: none;
    }
}

.diferenciais {
    padding: 300px 0 50px 0;
    @include media-breakpoint-down(md) {
        padding: 80px 0;
    }     
    @media only screen and (min-width: 1600px) {
        top: 90px;
    }
    @media only screen and (min-width: 1920px) {
        position: relative;
        top: 230px;
    }
}
.txt-diferencial{
    font-size: 18px;
}
#curva {
    position: absolute;
    left: 0;
    top: 300px;
    margin: 30px 0;
    @include media-breakpoint-down(md) {
        top: 203px;
        margin: 0;
    }
    @media only screen and (max-width: 320px){
        top: 230px;
    }
    @media only screen and (min-width: 720px)  and (max-width: 990px){
        top: 150px;
    }
    @media only screen and (min-width: 991px)  and (max-width: 1024px) {
        margin: 80px 0;
    }
    @media only screen and (min-width: 1440px) {
        top: 280px;
    }
    @media only screen and (min-width: 1920px) {
        top: 250px;
    }
}
.arrow{
    @include media-breakpoint-down(md) {
        img {
            width: 100%;
        }
    }
}
.indicadores{
    @include media-breakpoint-down(md) {
        position: relative;
        left: -10px;
    }
}
.slick-conteudo{
    @include media-breakpoint-down(md) {
        position: relative;
        left: 5px;
    }
    h2 {
        @include media-breakpoint-down(md) {
            font-size: 1.2em;
        }
    }
    p {
        padding: 0 10px;
    }
}
