<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-purple p-0">
            <img class="img-footer w-100" src="./assets/backgrounds/bgfooter.png" alt="deploy">
            <div class="col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-lg-6 mx-auto text-center mt-5">
                        <h1>Agora chega de falar de nós, conta mais sobre você...</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 col-8 mx-auto my-4">
                        <div class="row">
                            <div class="col-lg-3 mx-auto card-footer text-center my-2" [routerLink]="['/contato']" (click)="helper.scroll()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="./assets/icons/screen_icon.svg" alt="site">
                                    </div>
                                    <div class="col-lg-8 mx-auto mt-3">
                                        Já tenho um produto
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mx-auto card-footer text-center my-2" [routerLink]="['/contato']" (click)="helper.scroll()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="./assets/icons/idea_icon.svg" alt="site">
                                    </div>
                                    <div class="col-lg-10 mx-auto mt-2">
                                        Tenho uma ideia e que criar um produto
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mx-auto card-footer text-center my-2" [routerLink]="['/contato']" (click)="helper.scroll()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="./assets/icons/coffee_icon.svg" alt="site">
                                    </div>
                                    <div class="col-lg-10 mx-auto mt-2">
                                        Achei o site legal, bora tomar um café
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>

            <div class="col-lg-11 col-11 mx-auto aba-link">
                <div class="row">
                    <div class="col-lg-8 mx-auto mt-5 mb-3">
                        <div class="row">
                            <div class="col-lg-3 col-6 order-1 p-0">
                                <div class="titulo">Soluções</div>
                                <ul class="p-0">
                                    <a [routerLink]="['/mlp']" (click)="helper.scroll()"> <li>MLP</li> </a>
                                    <a [routerLink]="['/always-on']" (click)="helper.scroll()"> <li>Always On</li> </a>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-6 order-2 p-0"> 
                                <div class="titulo">Produtos</div>
                                <ul class="p-0">
                                    <a> <li>Dive</li> </a>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-6 order-lg-3 order-4 p-0">
                                <div class="titulo">Sobre</div>
                                <ul class="p-0">
                                    <a href=""> <li>Trabalhos realizados</li> </a>
                                    <a [routerLink]="['/nos']" (click)="helper.scroll()"> <li>Nós</li> </a>
                                    <a [routerLink]="['/contato']" (click)="helper.scroll()"> <li>Contato</li> </a>
                                    <a [routerLink]="['/trabalhe-conosco']" (click)="helper.scroll()"> <li>Trabalhe com a gente</li> </a>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-6 order-3 link-conteudo">
                                <div class="titulo">Conteúdo</div>
                                <ul class="p-0">
                                    <a href=""> <li>Blog</li> </a>
                                    <a href=""> <li>Podcasts</li> </a>
                                    <a href=""> <li>Canal</li> </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            
            <div class="col-lg-11 mx-auto aba-redes">
                <img src="./assets/logos/deploy_logo_white.svg" alt="logo-deploy">
                <div class="row">
                    <div class="col-lg-2 col-5 redes">
                        <div class="row">
                            <div class="col-3 mt-3">
                                <img src="./assets/icons/instagram_icon.svg" alt="instagram">
                            </div>
                            <div class="col-3 mt-3">
                                <img src="./assets/icons/dribbble_icon.svg" alt="blog">
                            </div>
                            <div class="col-3 mt-3">
                                <img src="./assets/icons/facebook_icon.svg" alt="facebook">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
