@import "helpers";
@import "variables";
@import "components";

ul {
    a { 
        text-decoration: none;
    }

    li {
        list-style: none;
        color: $color-4;
        padding: 8px 0;
        &:hover { 
            color: $color-6;
        }
    }
}
.card-footer {
    background-color: $color-8;
    border-radius: 8px;
    color: $color-5;
    font-size: 18px;
    padding: 15px 0 10px 0;
    cursor: pointer;
    outline: 0px;
    &:hover {
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
        transform: scale(1.05);
        transition: all (500ms);
    }
}
.aba-redes, .aba-link {
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 30px;
        width: 92%;
        height: 1px;
        opacity: 20%;
        z-index: 1;
        background-color: $color-8;
        @include media-breakpoint-down(md) {
            left: 0;
            width: 100%;
        }
    }
    
}
.aba-redes {
    padding: 20px 30px 30px 30px;
}
.link-conteudo{
    @include media-breakpoint-up(lg) {
        padding: 0 0 0 40px;
    }
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}
.titulo {
    color: $color-3;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.redes {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 8px;
    @include media-breakpoint-down(md) {
        top: 10px;
        left: 200px;
    }     
}

.img-footer{
    position: absolute;
    // top: -190px;
    // left: -50px;
}