<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-11 mx-auto">
            <img class="w-100 desktop cover-img" src="./assets/backgrounds/bghome_cover.png" alt="deploy">
            <img class="w-100 mobile cover-img" src="./assets/backgrounds/bghome_mobile.png" alt="deploy">
            <div class="row">
                <div class="col-lg-10 col-11 mx-auto p-0">
                    <div class="row">
                        <div class="col-lg-6 col-12 capa-home">
                            <h1 class="titulo"><a>Experiência</a> é muito mais que um site ou app bonitinho.</h1>
                            <p>Só através de pesquisas e testes com usuários reais, é possível criar produtos incríveis.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-12 mt-2 btn-deploy" routerLinkActive='active'
                            [routerLink]="['/home', {section:'ux'}]">
                            O que fazemos
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-12 aba-trabalho">
                            <a class="text-uppercase">
                                Quem já confiou no nosso trabalho
                            </a>
                            <div class="row">
                                <div class="col-lg-1 col-4 mt-2" *ngFor="let j of jobs; let idx=index">
                                    <img class="w-100" [src]="j.logo" alt="nosso-trabalho">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ux">
            <div class="row">
                <div class="col-lg-10 col-11 mx-auto p-0">
                    <div class="row">
                        <div class="col-lg-5 col-10">
                            <img class="purple-elipse w-50" src="./assets/backgrounds/elipse.png" alt="" id="ux">
                            <img class="w-100" src="./assets/photos/user-experience.png" alt="user-experience">
                            <img class="blue-elipse w-75" src="./assets/backgrounds/blue_elipse.png" alt="">
                        </div>
                        <div class="col-lg-7 col-12 aba-ux">
                            <div class="text-uppercase txt-purple">
                                <img src="./assets/icons/blue_dot_icon.svg" alt="ux">
                                <a class="ml-2 uts">User Experience</a>
                            </div>
                            <div class="txt-ux">
                                <h1>Uber, Airbnb, iFood, Apple, Nubank...</h1>
                                <p>O que essas empresas tem em comum além de uma “boa ideia”?</p>
                                <p class="txt-purple bold">A experiência que elas proporcionam para seus usuários...</p>
                            </div>
                            <p>
                                …e quantidade de grana que elas faturam.
                                <img src="./assets/icons/emoji_icon.svg" alt="">
                            </p>
                            <p class="text-justify">
                                Então é cada vez mais óbvio que se você não investir energia,
                                tempo e dinheiro para reinventar a forma como você entrega valor
                                e realmente entender seus usuários, as chances de nunca ver seu negócio decolar é alta.
                            </p>
                            <div class="col-lg-8 col-12 mt-4 btn-deploy p-3" routerLinkActive='active'
                                [routerLink]="['/home', {section:'sol'}]">
                                Veja a melhor solução para você
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-8 col-11 mx-auto text-center trabalho">
                    <p class="text-uppercase txt-purple">
                        <img src="./assets/icons/pink_dot_icon.svg" alt="ux">
                        <a class="ml-2 uts">Trabalhos</a>
                    </p>
                    <div class="txt-ux">
                        <h1 class="titulo">(função <a>+</a> estética) <a>x</a> deploy <a>= resultado</a></h1>
                        <p>Selecione o cliente desejando e conheça um pouco do nosso trabalho</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-5 mx-auto card-jobs mt-4" *ngFor="let j of jobs; let idx=index"
                            (click)="play(idx)" [class.active]="idx == idxActive">
                            <img [src]="j.logo" alt="">
                            <p class="mobile mt-3">{{ j.title }}</p>
                        </div>
                        <div class="col-lg-12 mt-3 videos-section" >
                            <ng-container *ngIf="jobs[idxActive]">

                                <div class="video-model"  (click)="dismiss($event)"  [ngClass]="{'mobile-platform': helper.isMobile}">
                                    <div class="video-template mx-auto" 
                                    [ngClass]="{
                                        'mobile-view': jobs[idxActive].mobile,
                                        'mobile-platform': helper.isMobile
                                    }">
                                        <div class="video-header">
                                            <span class="dot "></span>
                                            <span class="dot"></span>
                                            <span class="dot " [ngClass]="{'mr-4': !jobs[idxActive].mobile, 'mr-2': jobs[idxActive].mobile}"></span>
        
                                            <span class="kf-badge mx-1 " *ngFor="let category of jobs[idxActive].categories" [ngClass]="category.color">
                                                {{ category.name }}
                                            </span>
                                        </div>
                                        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                                            class="video-player" #video>
                                            <source [src]="jobs[idxActive].video" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </ng-container>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="sol">
        <div class="row">
            <div class="col-12 bgdark">
                <div class="row">
                    <div class="col-lg-9 col-11 mx-auto text-center my-5">
                        <div class="text-uppercase my-3">
                            <img src="./assets/icons/purple_dot_icon.svg" alt="ux">
                            <a class="ml-2 uts">Soluções</a>
                        </div>
                        <h2>Como ajudamos nossos parceiros?</h2>
                        <div class="row">
                            <div class="col-lg-5 col-12 mx-auto card-solucoes mt-3">
                                <img src="./assets/photos/mlp-home.png" alt="mlp">
                                <div>
                                    <img src="./assets/icons/heart_icon.svg" alt="">
                                    <h5 class="bold">MLP - Minimum Loveable Product</h5>
                                </div>
                                <div class="content-solucoes">
                                    Essa solução é recomendada se está <a class="bold">começando seu produto do zero ou
                                        se ele já existe no mercado</a>
                                    ou em fase de MVP e precisa aprimorar a experiência.
                                </div>
                                <div class="mt-4 bold">
                                    <a class="btn-solucoes w-100" [routerLink]="['/mlp']" (click)="helper.scroll()">
                                        Entenda melhor</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 mx-auto card-solucoes always mt-3">
                                <img src="./assets/photos/rocket.png" alt="always-on">
                                <div>
                                    <img src="./assets/icons/off_icon.svg" alt="">
                                    <h5 class="bold">Always Beta</h5>
                                </div>
                                <div class="content-solucoes">
                                    Funciona perfeitamente se você precisa
                                    de uma <a class="bold">Consultoria</a> ou um <a class="bold">Time de UX</a>
                                    dedicado à sua empresa.
                                </div>
                                <div class="mt-5 bold">
                                    <a class="btn-solucoes w-100" [routerLink]="['/always-on']"
                                        (click)="helper.scroll()"> Entenda melhor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-0">
                <div class="row">
                    <div class="col-lg-5 col-12 dive bg-gray order-lg-1 order-4">
                        <h2 class="bold">Conheça a Dive</h2>
                        <p class="mt-3">
                            A inteligência artificial que propõe melhorias na experiência do seu site.
                        </p>
                        <div class="mt-4">
                            <a class="btn-dive w-100 text-uppercase mt-4" [routerLink]="['/contato']"> Solicite um
                                acesso gratuito</a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12 p-0 bg-gray order-lg-2 order-3">
                        <img class="w-100 mt-5" src="./assets/photos/dive-teste.png" alt="div">
                    </div>

                    <div class="col-lg-4 col-12 mx-auto mt-5 text-center order-lg-3 order-1">
                        <div class="text-uppercase mb-3 txt-purple">
                            <img src="./assets/icons/pink_dot_icon.svg" alt="ux">
                            <a class="ml-2 uts">Benefícios</a>
                        </div>
                        <h2>Legal, mas quais os benefícios de uma boa experiência do usuário?</h2>
                    </div>
                    <div class="col-lg-10 col-11 mx-auto my-5 p-0 text-center order-lg-4 order-2">
                        <div class="row">
                            <div class="col-lg-3 col-6 mx-auto beneficios">
                                <img src="./assets/icons/growth_icon.svg" alt="">
                                <p>Aumento de conversão e fidelização de clientes</p>
                            </div>
                            <div class="col-lg-3 col-6 mx-auto beneficios">
                                <img src="./assets/icons/reduce_icon.svg" alt="">
                                <p>Diminuição da taxa de rejeição do site ou app</p>
                            </div>
                            <div class="col-lg-3 col-6 mx-auto beneficios">
                                <img src="./assets/icons/saving_icon.svg" alt="">
                                <p>Economia de recursos e retrabalhos</p>
                            </div>
                            <div class="col-lg-3 col-6 mx-auto beneficios">
                                <img src="./assets/icons/eye_icon.svg" alt="">
                                <p>Aumento da percepção de valor da empresa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-11 mx-auto bg-default workshop mb-5 order-5"
                        style="background-image: url('./assets/backgrounds/workshop.png');">
                        <div class="row">
                            <div class="col-lg-4 col-12 bold mx-auto">
                                <p class="txt-blue text-uppercase uts"> Coming Soon</p>
                                <h2>Workshop UX</h2>
                                <div>Cadastre-se para ser avisado quando os ingressos forem liberados.</div>
                            </div>
                            <div class="col-lg-5 col-12 mx-auto mt-1">
                                <form [formGroup]="form" (submit)="enviar()">
                                    <input type="text" class="w-100 email-workshop" formControlName="email"
                                        placeholder="Insira seu email" required>
                                    <button type="submit" class="btn-workshop w-100 mt-4 bold">Quero me
                                        cadastrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-11 mx-auto my-5 aba-conteudo">
                        <h2>Conteúdo</h2>
                        <p>Que aprender mais sobre UX? Então chegou no lugar certo!</p>
                        <div class="row">
                            <div class="col-4 conteudo" routerLink='para-assistir' routerLinkActive='active'
                                (click)="Assistir()">
                                <div class="row">
                                    <div class="col-lg-1 col-12">
                                        <img id="assistir" src="./assets/icons/purple_play_icon.svg" alt="">
                                    </div>
                                    <div class="col-lg-10 col-12">
                                        <a>Para Assistir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 conteudo" routerLink='para-ouvir' routerLinkActive='active'
                                (click)="Ouvir()">
                                <div class="row">
                                    <div class="col-lg-1 col-12">
                                        <img id="ouvir" src="./assets/icons/speaker_icon.svg" alt="">
                                    </div>
                                    <div class="col-lg-10 col-12">
                                        <a>Para Ouvir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 conteudo" routerLink='para-ler' routerLinkActive='active' (click)="Ler()">
                                <div class="row">
                                    <div class="col-lg-1 col-12">
                                        <img id="ler" src="./assets/icons/read_icon.svg" alt="">
                                    </div>
                                    <div class="col-lg-10 col-12">
                                        <a class="ml-1">Para Ler</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>