@import "helpers";
@import "variables";
@import "components";

.cover-img {
    @include media-breakpoint-down(md) {
        position: relative;
        top: 40px;
    }

    @include media-breakpoint-up(md) {
        top: 0;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: -20px;
        right: 0px;
    }
}

.aba-trabalho {
    @include media-breakpoint-down(md) {
        padding: 30px 20px;
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        padding: 50px;
    }

    @include media-breakpoint-up(lg) {
        padding: 50px 0 100px 0;
    }

    a {
        font-size: 0.8em;

        @include media-breakpoint-down(md) {
            font-family: 'ProximaNova-Bold';
        }
    }
}

.uts {
    letter-spacing: 2px;
}

.aba-ux {
    p {
        font-size: 20px;
    }

    @include media-breakpoint-down(md) {
        padding: 30px 20px;
    }

    @include media-breakpoint-up(md) {
        padding: 20px 0 20px 50px;
    }

    @include media-breakpoint-up(xl) {
        padding: 20px 80px 20px 50px;
    }

    @media only screen and (min-width: 1920px) {
        padding: 150px;
    }

    .txt-ux {
        @include media-breakpoint-up(md) {
            padding: 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 160px 0 0;
        }
    }
}

.ux {
    @include media-breakpoint-down(md) {
        overflow: hidden;
    }
}

.purple-elipse {
    position: absolute;
    z-index: -2;

    @include media-breakpoint-down(md) {
        transform: rotateY(180deg);
        right: -63px;
        top: 50px;
    }

    @include media-breakpoint-up(md) {
        right: -135px;
        top: 120px;
    }

    @include media-breakpoint-up(lg) {
        left: -100px;
        top: -90px;
    }

    @media only screen and (min-width: 1920px) {
        left: -150px;
        z-index: -1;
    }
}

.blue-elipse {
    position: absolute;

    @include media-breakpoint-down(sm) {
        right: -100px;
        top: 170px;
        z-index: -1;
    }

    @include media-breakpoint-up(sm) {
        right: -250px;
        top: 300px;
        margin: 80px 0;
        z-index: -1;
    }

    @media only screen and (min-width: 991px) and (max-width: 1024px) {
        left: -180px;
        top: 180px;
        z-index: 1;
    }

    // @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {
        left: -220px;
        top: 250px;
        z-index: 1;
    }

    @media only screen and (min-width: 1920px) {
        left: -300px;
        top: 300px;
        margin: 200px 0;
        z-index: 1;
    }
}

.trabalho {
    padding: 80px 0;
    font-size: 18px;

    @include media-breakpoint-down(md) {
        padding: 80px 3px;
    }
}

.card-jobs {
    background-color: $color-8;
    border-radius: 8px;
    padding: 30px 0;
    opacity: 0.5;
    cursor: pointer;
    filter: grayscale(1);
    transition: 1s all;
    &:hover,
    &.active {
        box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.75);
        transform: scale(1.0);
        transition: all (500ms);
        z-index: 1;
        opacity: 1;
        filter: grayscale(0);
        transition: 500ms all;
    }

    @include media-breakpoint-down(md) {
        opacity: 1;
        padding: 30px 0 0 0;
        box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.30);
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 50px 0;
    }
}

.card-solucoes {
    border-radius: 8px;
    border: 2px solid $color-3;
    padding: 20px 10px 40px 10px;
    background-color: $color-6;
    cursor: pointer;
    .btn-solucoes {
        padding: 20px 80px;
        border-radius: 8px;
        color: $color-7;
        background-color: $color-3;

        @include media-breakpoint-down(md) {
            padding: 20px 70px;
        }
    }

    .content-solucoes {
        font-size: 1.2em;
        padding: 10px;

        @include media-breakpoint-down(md) {
            font-size: 1em;
        }
    }

    &.always {
        border: 2px solid $color-2;

        .btn-solucoes {
            background-color: $color-2;
        }
    }

    &:hover {
        background-color: #633385;

        .btn-solucoes {
            color: $color-8;
        }
    }
}

.dive {
    padding: 150px 0 200px 100px;

    @include media-breakpoint-down(md) {
        padding: 70px 30px;
    }

    p {
        font-size: 25px;
        padding: 0 120px 0 0;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
}

.beneficios {
    p {
        color: #000000;
        padding: 5px 40px;

        @include media-breakpoint-down(md) {
            padding: 0;
            font-size: 0.9em;
        }

        @media only screen and (min-width: 1250px) and (max-width: 1344px) {
            padding: 5px 35px;
        }

        @media only screen and (min-width: 1920px) {
            padding: 5px 100px;
        }
    }
}

.email-workshop {
    border: 2px solid $color-8;
    border-radius: 8px;
    background-color: transparent;
    height: 50px;
    outline: 0;
    color: $color-8;
    padding: 0 20px;

    &::placeholder {
        color: $color-8;
    }
}

.btn-dive {
    font-family: 'ProximaNova-Bold';
    border-radius: 8px;
    border: 2px solid $color-3;
    background-color: $color-3;
    color: $color-8;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.9em;

    &:hover {
        color: $color-7;
    }

    @media only screen and(max-width: 330px) {
        padding: 10px 8px;
    }
}

.btn-workshop {
    border-radius: 8px;
    border: 2px solid $color-8;
    background-color: $color-8;
    color: $color-5;
    padding: 10px;
    cursor: pointer;

    &:hover {
        color: $color-2;
    }
}

.aba-conteudo {
    &::before {
        content: '';
        position: absolute;
        top: 127px;
        left: 15px;
        width: 97%;
        height: 2px;
        background-color: $color-9;
    }

    @include media-breakpoint-down(md) {
        text-align: center;

        &::before {
            content: '';
            top: 161px;
        }
    }

    @media only screen and (min-width: 720px) and (max-width: 991px) {
        &::before {
            content: '';
            top: 137px;
        }
    }
}

.conteudo {
    outline: 0px;
    color: $color-10;
    font-size: 20px;
    cursor: pointer;

    @include media-breakpoint-down(md) {
        font-size: 15px;
        text-align: center;
        padding: 0 0 0 15px;
    }

    &.active {
        color: $color-5;

        &::after {
            content: '';
            position: absolute;
            top: 39px;
            left: 15px;
            width: 91%;
            height: 3px;
            background-color: $color-5;
        }

        @include media-breakpoint-down(md) {
            &::after {
                top: 50px;
            }
        }
    }
}


$border-radius: 10px;
$lr-size: 1.5%;
$top-size: 50px;
$rgba-badge: 0.3;


.mobile-platform.video-model {
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1001;
    height: auto;
    width: 100%;
    padding: 0 15px;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(#000, 0.5);
    }
}

.videos-section {
    min-height: 70vh;
}
.video-template {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 1s  all;
   
    &.mobile-view{
        width: 345px;
        transition: 700ms  all;
        .video-header {
            .kf-badge {
                padding: 2px 5px;
                font-size: 11px;
            }
        }

        .video-player {
         
        }
    }




    &.mobile-platform {
       
       
        &.mobile-view {
            top: 9%;
            height: 83%;
            width: 345px;
        }
    }
    .video-header {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        height: $top-size;
        .dot{
            display: inline-block;
            margin: 2px 5px;
            border-radius: 100%;
            height: 15px;
            width: 15px;
            &:nth-of-type(1) {
                margin-left: 35px;
                background: #FF87BE;
            }
            &:nth-of-type(2) {
                background: #8D4BBA;
            }
            &:nth-of-type(3) {
                background: #7CCDFF;
            }
          
        }


        .kf-badge {
            padding: 2px 15px;
            font-size: 12px;
            border-radius: $border-radius;
            &.primary {
                background:  rgba(#7CCDFF, $rgba-badge);
                color: #7CCDFF;
            }
            &.secondary {
                background:  rgba( #8e4bba7e,$rgba-badge);
                color: #8D4BBA;
            }
            &.tertiary {
                background: rgba( #ff87bd7a, $rgba-badge);
                color: #FF87BE;
            }
        }
    }
    .video-player {
        position: relative;
        width: 100%;
        border-radius: $border-radius+ 5px;
        object-fit: cover;
        height: auto;
        padding:  2px 10px 3px 10px;
    }

    border-radius: $border-radius ;
    background: #fff;
    box-shadow: -1px 0px 41px -20px rgba(0,0,0,0.69);
}


