@import "helpers";
@import "variables";
@import "components";

.mlp {
    @include media-breakpoint-up(lg) {
        padding: 150px 0 0 120px;
    } 
    p {
        font-size: 22px;
    }
    @media only screen and (min-width: 991px)  and (max-width: 1024px) {
        padding: 75px 0 75px 120px;
    }
}
.img-mlp {
    height: 90vh;
    @media only screen and (min-width: 991px)  and (max-width: 1024px) {
        height: auto;
    }
}
.bg-pink {
    color: $color-8;
    background-color: $color-3;
}
.citacao {
    padding: 50px 0;
    @include media-breakpoint-down(md) {
        text-align: center;
        h3 {
            padding: 0 40px;
        }
        h4 { 
            font-size: 1.3em;
        }        
    }
    @media only screen and (min-width: 1440px) {
        h4 {
            padding: 20px 0;
        }
    }
}
.como {
    height: 100vh;
    padding: 80px 0;
    @include media-breakpoint-down(md) {
        height: 110vh;
    }
    @media only screen and (min-width: 320px)  and (max-width: 350px){
        height: 160vh;
    }
    @media only screen and (min-width: 350px)  and (max-width: 365px){
        height: 125vh;
    }
}
.box-mlp {
    cursor: pointer;  
    p {
        @include media-breakpoint-up(lg) {
             color: $color-7;  
            &::after{
                content: '';
                position: absolute;
                top: 65px;
                left: 0;
                width: 100%;
                height: 2px;
                opacity: 20%;
                z-index: 1;
                background-color: $color-7;
            }
        }
             
    }        
    &:hover {
        p {
            color: $color-5;
        }  
    }
    .card-mlp{
        width: 280px;
        padding: 30px;
        margin: 0 -30px;
        background-repeat: no-repeat;
        background-size: 100%;
        &.v1 {
            padding: 45px 30px;
            background-size: 100% 100%;
        }
        &.laboratorio {
            height: 30vh;
            @media only screen and (min-width: 1250px) and (max-width: 1344px) {
                height: 25vh;
            }
        }
        &.descoberta {
            height: 45vh;
            @media only screen and (min-width: 1250px) and (max-width: 1344px) {
                height: 35vh;
            }
        }
    }
}

.txt-title{
    @include media-breakpoint-down(md) {
        font-size: 1.2em;
        padding: 20px 0 20px 17px;
    }
    @media only screen and (min-width: 320px)  and (max-width: 365px){
        font-size: 1em;
        padding: 20px 0 20px 20px;
    }
}