<div class="container-fluid">
    <div class="row">
        <div class="col-12 bgdark">
            <div class="row">
                <div class="col-10 mx-auto capa">
                    <div class="row">
                        <div class="col-lg-5 col-12 order-lg-first capa-mlp">
                            <div class="row">
                                <div class="col-lg-2 col-3 mlp-logo">
                                    <img class="w-100" src="./assets/icons/heart_icon.svg" alt="mlp_deploy">
                                </div>
                            </div>
                            <div>
                                <a class="mt-3 txt-mlp">MLP</a>
                                <a class="ml-2 mlp-descricao">(Minimun Loveable Product) </a>
                            </div>
                            <div class="txt-capa">
                                Não é só sobre funcionar.
                            </div>
                            <div class="txt-capa">
                                É preciso encantar!
                            </div>
                            <div class="col-12 p-0">
                                <p class="txt-pink text-uppercase bold mt-5 mb-4 quem">Para quem é o mlp?</p>
                                <div class="row">
                                    <div class="col-lg-3 col-3">
                                        <div class="row">
                                            <div class="col-lg-10 col-12 p-0 order-lg-first text-center">
                                                <img src="./assets/icons/startup_icon.svg" alt="startups">
                                            </div>
                                            <div class="col-12">
                                                Startups
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-lg-3 col-4 p-0 order-lg-second text-center">
                                        <div class="row">
                                            <div class="col-12 p-0 ">
                                                <img src="./assets/icons/shopping-cart_icon.svg" alt="E-commerces">
                                            </div>
                                            <div class="col-12">
                                                E-commerces
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="col-lg-4 col-5 p-0 order-second  text-center">
                                        <!-- <div class="row"> -->
                                            <div class="col-12 p-0">
                                                <img src="./assets/icons/smartphone_icon.svg" alt="produtos-digitais">
                                            </div>
                                            <div class="col-12">
                                                Produtos Digitais
                                            </div>
                                        <!-- </div> -->
                                    </div>                                     
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 order-first mx-auto">
                            <img class="w-100" src="./assets/photos/capa-mlp.png" alt="mlp-deploy">
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-5 col-10 mx-auto p-0 order-lg-first">
                    <div class="mlp">
                        <p>Talvez você se pergunte...</p>
                        <h2>Por que fazer um MLP?</h2>
                        <div>
                            Em um mercado tão competitivo não é mais suficiente ter clientes usando seu produto, é 
                            preciso que eles amem! 
                        </div>
                        <div class="my-3">                            
                            Desde startups até empresas estabelecidas, através de metodologias de UX, nós pesquisamos, ideamos, 
                            criamos (ou recriamos) e validamos seu produto antes de desenvolvê-lo.
                        </div>
                        <p class="txt-pink">
                            Esse processo gera <a class="bold">economia de tempo, dinheiro e evita frustrações</a>.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 p-0 img-mlp bg-default order-first" style="background-image: url('./assets/backgrounds/mlp.png');">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-pink">
            <div class="row">
                <div class="col-lg-10 col-11 mx-auto citacao">
                    <div class="row">
                        <div class="col-lg-2 col-12 order-1 p-0">
                            <h3>Como já dizia o grande Don Norman…</h3>
                            (a.k.a. O pai da UX)
                        </div>
                        <div class="col-lg-1 col-3 order-2 mt-5">
                            <img class="w-100" src="./assets/icons/aspas_abre_icon.svg" alt="aspas">
                        </div>
                        <div class="col-lg-2 col-6 order-3">
                            <img class="w-100" src="./assets/photos/1_O8j1cbFw7kSimpekX9L_Mg.png" alt="Don-Norman">
                        </div>
                        <div class="col-lg-6 col-12 order-lg-4 order-5 mt-4">
                            <div>
                                <h4>Design pensado para usuários, necessita do envolvimento destes usuários durante todo o projeto.</h4>
                            </div>
                        </div>
                        <div class="col-lg-1 col-3 order-4 mt-5">
                            <img class="w-100" src="./assets/icons/aspas_fecha_icon.svg" alt="aspas">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-gray">
            <div class="row">
                <div class="col-lg-10 col-11 mx-auto como">
                    <div class="col-lg-3 col-10 mx-auto text-center">
                        <h2><a class="bold">Como</a> fazemos é tão importante quanto <a class="bold">o que</a></h2>
                    </div>
                    <div class="row mt-5">
                        <!-- DESKTOP-->
                        <div class="col-lg-2 mx-auto box-mlp p-0 desktop">
                            <div (mouseenter)="Descoberta()" (mouseleave)="OutDescoberta()">
                                <img class="numero" src="./assets/photos/num01.png" alt="">
                                <p class="bold txt-title">Descoberta</p>
                            </div>                            
                            <div class="card-mlp v1 descoberta" *ngIf="idxOn==1" style="background-image: url('./assets/backgrounds/bg-solucoes2.png');">
                                Depois de entrevistar os stakeholders, nós aplicamos os métodos apropriados de pesquisa
                                para entender profundamente as necessidades, objetivos e dores dos usuários e do negócio.
                            </div>
                        </div>
                        <div class="col-lg-2 mx-auto box-mlp p-0 desktop">
                            <div (mouseenter)="Laboratorio()" (mouseleave)="OutLaboratorio()">
                                <img class="numero" src="./assets/photos/num02.png" alt="">
                                <p class="bold txt-title">Laboratório</p>
                            </div>                                
                            <div class="card-mlp v1 laboratorio" *ngIf="idxOn==2"  style="background-image: url('./assets/backgrounds/bg-dive.png');">
                                Com os dados em mãos, começamos a pensar quais problemas teremos que lidar e encontrar possíveis soluções.
                            </div>
                        </div>
                        <div class="col-lg-2 mx-auto box-mlp p-0 desktop">
                            <div (mouseenter)="Interface()" (mouseleave)="OutInterface()">
                                <img class="numero" src="./assets/photos/num03.png" alt="">
                                <p class="bold txt-title">Interface</p>
                            </div>                                
                            <div class="card-mlp" *ngIf="idxOn==3"  style="background-image: url('./assets/backgrounds/bg-solucoes2.png');">
                                <div class="mt-4">
                                    Assim que estruturarmos a arquitetura da jornada do usuário e wireframes, os protótipos entram em cena e seu produto começa a ganhar vida.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mx-auto box-mlp p-0 desktop">
                            <div (mouseenter)="Teste()" (mouseleave)="OutTeste()">
                                <img class="numero" src="./assets/photos/num04.png" alt="">
                                <p class="bold txt-title">Teste</p>
                            </div>                                
                            <div class="card-mlp" *ngIf="idxOn==4" style="background-image: url('./assets/backgrounds/bg-solucoes2.png');">                                
                                <div class="mt-4">
                                    Agora é hora de checar problemas na usabilidade, descobrir como os usuários estão de fato usando o produto e corrigir
                                    os pontos de melhoria.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mx-auto box-mlp p-0 desktop">
                            <div (mouseenter)="Desenvolvimento()" (mouseleave)="OutDesenvolvimento()">
                                <img class="numero" src="./assets/photos/num05.png" alt="">
                                <p class="bold txt-title">Desenvolvimento</p>
                            </div>                                
                            <div class="card-mlp" *ngIf="idxOn==5"  style="background-image: url('./assets/backgrounds/bg-solucoes2.png');">
                               <div class="mt-4">
                                   Utilizando as linguagens de programação mais atuais, desenvolvemos produtos digitais que seus clientes vão amar.
                                    Fron-end, Back-end e Mobile Apps.
                               </div>                                
                            </div>
                        </div>    
                        
                        <!-- MOBILE-->
                        <div class="col-11 mx-auto mobile p-2" id="imersao"> 
                            <div class="row">
                                <div class="col-3">
                                    <img id="img-imersao" src="./assets/photos/num01.png" alt="">
                                </div>
                                <div class="col-7 p-0">
                                    <div class="bold txt-title">Imersão</div>
                                </div>
                                <div class="col-2" (click)="dropImersao()">
                                    <img class="plus mt-2" src="./assets/icons/plus_icon.svg" alt="">
                                </div>
                            </div>                                
                            <div *ngIf="imersao">
                                <p  class="my-4" >
                                    Depois de entrevistar os stakeholders, nós aplicamos os métodos apropriados de pesquisa
                                    para entender profundamente as necessidades, objetivos e dores dos usuários e do negócio.
                                </p>
                            </div>
                        </div>

                        <div class="col-11 mx-auto mobile p-2" id="pesquisa"> 
                            <div class="row">
                                <div class="col-3">
                                    <img id="img-pesquisa" src="./assets/photos/num02.png" alt="">
                                </div>
                                <div class="col-7 p-0">
                                    <div class="bold txt-title">Pesquisa e Análise</div>
                                </div>
                                <div class="col-2" (click)="dropPesquisa()">
                                    <img class="plus mt-2" src="./assets/icons/plus_icon.svg" alt="">
                                </div>
                            </div>                                
                            <div *ngIf="pesquisa">
                                <p  class="my-4" >
                                    Com os dados em mãos, começamos a pensar quais problemas teremos que lidar e encontrar possíveis soluções.
                                </p>
                            </div>
                        </div>

                        <div class="col-11 mx-auto mobile p-2" id="prototipos"> 
                            <div class="row">
                                <div class="col-3">
                                    <img id="img-prototipos" src="./assets/photos/num03.png" alt="">
                                </div>
                                <div class="col-7 p-0">
                                    <div class="bold txt-title">Protótipos</div>
                                </div>
                                <div class="col-2" (click)="dropPrototipos()">
                                    <img class="plus mt-1" src="./assets/icons/plus_icon.svg" alt="">
                                </div>
                            </div>                                
                            <div *ngIf="prototipos">
                                <p  class="my-4" >
                                    Assim que estruturarmos a arquitetura da jornada do usuário e wireframes, os protótipos entram em cena e seu produto começa a ganhar vida.
                                </p>
                            </div>
                        </div>

                        <div class="col-11 mx-auto mobile p-2" id="testes"> 
                            <div class="row">
                                <div class="col-3">
                                    <img id="img-testes" src="./assets/photos/num04.png" alt="">
                                </div>
                                <div class="col-7 p-0">
                                    <div class="bold txt-title">Testes de Usabilidade</div>
                                </div>
                                <div class="col-2" (click)="dropTestes()">
                                    <img class="plus mt-2" src="./assets/icons/plus_icon.svg" alt="">
                                </div>
                            </div>                                
                            <div *ngIf="testes">
                                <p  class="my-4" >
                                    Agora é hora de checar problemas na usabilidade, descobrir como os usuários estão de fato usando o produto e corrigir
                                os pontos de melhoria.
                                </p>
                            </div>
                        </div>

                        <div class="col-11 mx-auto mobile p-2" id="desenvolvimento"> 
                            <div class="row">
                                <div class="col-3">
                                    <img id="img-desenvolvimento" src="./assets/photos/num05.png" alt="">
                                </div>
                                <div class="col-7 p-0">
                                    <div class="bold txt-title">Desenvolvimento</div>
                                </div>
                                <div class="col-2" (click)="dropDesenvolvimento()">
                                    <img class="plus mt-3" src="./assets/icons/plus_icon.svg" alt="">
                                </div>
                            </div>                                
                            <div *ngIf="desenvolvimento">
                                <p  class="my-4" >
                                    Utilizando as linguagens de programação mais atuais, desenvolvemos produtos digitais que seus clientes vão amar.
                                    Fron-end, Back-end e Mobile Apps.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>