
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$deploy-primary: mat-palette($mat-indigo);
$deploy-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$deploy-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$deploy-theme: mat-light-theme($deploy-primary, $deploy-accent, $deploy-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($deploy-theme);

/* You can add global styles to this file, and also import other style files */



@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
         url('./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
         url('./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
         url('./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
         url('./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
         url('./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
         url('./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fluid {
    font-family: 'ProximaNova-Regular';
}
.bold {
    font-family: 'ProximaNova-Bold';
}

